---
import AboutMeLeftSection from "./AboutMeLeftSection.astro";
import AboutMeRightSection from "./AboutMeRightSection.astro";
---

<div
  class="flex flex-col lg:flex-row lg:space-x-10 lg:min-h-screen justify-between lg:justify-around items-start lg:items-center"
>
  <p class="section-title lg:hidden mb-10 lg:mb-0">About</p>
  <AboutMeLeftSection />
  <AboutMeRightSection />
</div>
