---
const techStack = [
  {
    label: "React | Next.js",
  },
  {
    label: "CSS | TailwindCSS",
  },
  {
    label: "Ruby on Rails",
  },
  {
    label: "Vue | Nuxt.js",
  },
  {
    label: "Postgres",
  },
];
---

<div class="lg:text-2xl lg:text-[3rem] font-light space-y-10 lg:space-y-40">
  <p class="leading-[3rem]">
    Based in{"  "}
    <strong class="font-semibold">Jakarta, Indonesia</strong>
  </p>

  <div class="lg:text-4xl space-y-6">
    <span>Tech Stack</span>
    <ul class="font-semibold space-y-2">
      {techStack.map((data) => <li>{data.label}</li>)}
    </ul>
  </div>
</div>
