---
import { Icon } from 'astro-icon/components';
import GetResumeButton from '../buttons/GetResumeButton.astro';

const workHistories = [
	{
		title: 'Sequis Innovation Lab',
		link: 'https://sequis.co.id/',
		description: 'Frontend Developer (Next.js)',
		period: 'May 2023 - Present',
	},
	{
		title: 'Ukirama',
		link: 'https://ukirama.com/',
		description: 'Full Stack Web Dev (RoR) - ERP Software',
		period: 'September 2019 - April 2023',
	},
	{
		title: 'RuangUMKM',
		link: 'https://pekanraya.ruangumkm.id/',
		description: 'Freelance Frontend Dev (Nuxt.js) - Marketplace Project',
		period: 'October 2021 - December 2021',
	},
	{
		title: 'Gank Global',
		link: 'https://ganknow.com',
		description: 'Freelance Frontend Dev (Nuxt.js) - Gaming Gig Platform',
		period: 'July 2021 - August 2021',
	},
	{
		title: '@infiniteclass.id',
		link: null,
		description: 'Coding Mentor - Programming Fundamentals with Javascript',
		period: 'February 2021 - May 2021',
	},
	{
		title: 'cataloq.co',
		link: null,
		description: 'Freelance Backend Dev (Express.js) - Marketplace Project',
		period: 'August 2020 - March 2021',
	},
	{
		title: 'Aristi Jasadata',
		link: null,
		description: 'Android Developer Intern - Banking Project',
		period: 'July 2018 - August 2018',
	},
];
---

<div class="work-history-container">
	<div class="section-title">Work History</div>
	<div class="flex flex-col gap-y-4">
		{
			workHistories.slice(0, 3).map((history) => (
				<div class="flex flex-col lg:grid lg:grid-cols-2 gap-x-4">
					<p class="font-semibold text-base lg:text-lg grayed-text">
						{history.period}
					</p>
					<div>
						<p class="font-bold text-xl lg:text-3xl">{history.title}</p>
						<p class="grayed-text">{history.description}</p>
					</div>
				</div>
			))
		}
	</div>
	<a href="/about" class="self-center text-sm lg:text-xl font-semibold">
		See More..
	</a>
	<GetResumeButton />
</div>

<style>
	.work-history-container {
		@apply h-full flex flex-col justify-center gap-y-6;
	}
</style>
