---
import { Icon } from 'astro-icon/components';
---

<a
	href="https://drive.google.com/file/d/1Qw6R8YMJM0bQG6ob-C6pfFlwLr2syOU0/view?usp=drive_link"
	target="_blank"
	rel="noopener noreferrer"
	class="self-center text-sm bg-brand/50 px-4 py-2 lg:p-4 rounded-full w-fit"
>
	<Icon name="document" class="inline-block lg:h-6 lg:w-6" />
	Get Latest Resume
</a>
