---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/about-me/AboutMe.astro';
import Blogs from '../components/blogs/Blogs.astro';
import Hero from '../components/hero/Hero.astro';
import '../styles/globals.css';
import WorkHistory from '@/components/work-history/WorkHistory.astro';
---

<Layout>
	<div class="container mx-auto snap-container px-8 lg:px-24">
		<section class="snap-section">
			<Hero />
		</section>
		<section class="snap-section">
			<div class="h-full lg:grid lg:grid-cols-2 gap-16">
				<AboutMe />
				<WorkHistory class="hidden lg:block" />
			</div>
		</section>
		<section class="snap-section lg:hidden">
			<WorkHistory />
		</section>
		<section class="snap-section">
			<Blogs />
		</section>
	</div>
</Layout>

<style>
	.snap-container {
		@apply max-h-dvh max-w-full overflow-y-scroll snap-y snap-mandatory;
	}

	.snap-section {
		@apply h-dvh snap-start snap-always;
	}
</style>
